.cases {
    font-family: 'OpenSans';
    color: var(--text-black);
    padding: 40px 20px;
    margin: 0 auto;
}

.casesSubtitle {
    font-size: 18px;
    line-height: 1.66;
    text-align: center;
    margin-bottom: 20px;
}

.casesTitle {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-align: center;
    margin-bottom: 20px;
}

.casesText {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
}

.casesItem {
    display: block;
    position: relative;
    padding-bottom: 8px;
}

.casesItem:hover:after,
.casesItem:focus:after {
    opacity: 1;
}

.casesImg {
    display: block;
    width: 100%;
}

.casesImg:hover {
    transform: scale(1.03, 1.03);
}

@media screen and (min-width: 768px) {
    .casesSubtitle {
        font-size: 20px;
        line-height: 1.65;
    }

    .casesText {
        font-size: 18px;
        line-height: 1.56;
    }

    .casesList {
        display: flex;
        flex-wrap: wrap;
        /* добавити*/
    }

    .casesItem {
        margin-right: 18px;
        margin-bottom: 18px;
        width: calc((100% - 36px) / 3);
    }

    .casesItem:nth-child(3n) {
        margin-right: 0px;
    }

}

@media screen and (min-width: 1360px) {
    .cases {
        padding: 80px 28px;
    }

    .casesItem {
        margin-right: 20px;
        margin-bottom: 20px;
        width: calc((100% - 100px) / 3);

    }
}