.team {
    color: var(--text-black);
    padding: 40px 20px;
}

.teamSubtitle {
    font-size: 18px;
    line-height: 1.66;
    text-align: center;
    padding-bottom: 20px;
}

.teamTitle {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-align: center;
    padding-bottom: 20px;
}

.teamText {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 20px;
}

.teamItem {
    display: block;
}

.teamWrapper {
    position: relative;
}

.teamOwerlay {
    display: block;
    position: relative;
}

.teamOwerlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
}

.teamOwerlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.teamOwerlay:hover,
.teamOwerlay:focus {
    transform: scale(1.03, 1.03);
    box-shadow: 0 0 8px 1px;
}

.teamOwerlay:hover:before,
.teamOwerlay:hover:after {
    opacity: 1;
}

.teamLinks {
    position: absolute;
    top: 40%;
    Left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 5;
}

.teamOwerlay:hover + .teamLinks,
.teamOwerlay:focus + .teamLinks {
    opacity: 1;
}

.teamImg {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.socialList {
    display: flex;
}

.socialItem:not(:last-child) {
    margin-right: 25px;
}

.socialIcon {
    width: 35px;
    height: 35px;
    fill: white
}

.name {
    font-size: 23px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 12px;
}

.position {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .team {
        padding-right: 32px;
        border-left: 32px;
    }
    
    .teamList {
        display: flex;
        flex-wrap: wrap;
    }

    .teamItem {
        margin-right: 18px;
        margin-bottom: 18px;
        width: calc((100% - 36px) / 3);
    }

    .teamItem:nth-child(3n) {
        margin-right: 0px;
    }

    .teamSubtitle {
        font-size: 20px;
        line-height: 1.65;
    }

    .teamText {
        font-size: 17px;
        line-height: 1.66;
    }

    .name {
        font-size: 25px;
        line-height: 1.27;
    }

    .position {
        font-size: 18px;
        line-height: 1.56;
    }

}

@media screen and (min-width: 1360px) {
    .team {
        padding: 80px 28px;
    }

    .teamItem {
        margin-right: 20px;
        margin-bottom: 20px;
        width: calc((100% - 40px) / 3);
    }

    .teamText {
        font-size: 18px;
        line-height: 1.56;
    }
    
}