.contact {
    background-color: var(--background-color-lightGray);
}

.contactImg {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contactDescription {
    padding: 40px 30px;
    color: var(--text-white);
}

.contactSubtitle {
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 8px;
}

.contactTitle {
    font-weight: 300;
    font-size: 32px;
    line-height: 1.26;
    margin-bottom: 32px;
    color: var(--text-black);
}

.form {
    display: flex;
    flex-direction: column;
}

.formSubmitBtn {
    display: block;
    font-size: 16px;
    line-height: 1.37;
    text-align: center;
    color: var(--text-white);
    padding: 10px 0;
    border: 1px solid var(--light-background);
    border-radius: 5px;
    color: inherit;
    background: var(--background-color);
}

.formItem {
    width: 280px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.formInput {
    font-size: 16px;
    font-family: 'Open Sans';
    width: 226px;
    height: 56px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid var(--light-background);    
}

.formLabel {
    position: absolute;
    pointer-events: none;
    left: 15px;
    right: 15px;
    top: 0px;
    color: var(--placeholder-color);
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
    transition: .3s;
}

.worning {
    font-size: 12px;
    display: flex;
    position: absolute;
    bottom: 8px;
    color: #eb5757;
}

.iconWorning {
    width: 16px;
    height: 16px;
}

.formSubmitBtn {
    width: 155px;
    display: block;
    font-size: 16px;
    line-height: 1.37;
    text-align: center;
    color: var(--text-white);
    padding: 10px 0;
    border: 1px solid var(--light-background);
    border-radius: 5px;
    color: inherit;
    background: var(--background-color);
}

.formSubmitBtn:hover,
.formSubmitBtn:focus {
    background-color: var(--background-color-hover);
}

@media screen and (min-width: 768px) {
    .contactContainer {
        display: flex;
    }

    .contactItem {
        width: 50%;
    }

    .contactImg {
        height: 100%;
    }

    .contactDescription {
        padding-right: 53px;
        padding-left: 32px;
    }

    .formInput {
        width: 264px;
        height: 57px;
    }

    .formSubmitBtn {
        font-size: 18px;
        line-height: 1.38;
    }
}

@media screen and (min-width: 1360px) {
    .contactContainer {
        min-width: 1360px;
    }
    .contactDescription {
        padding: 80px 28px 80px 20px;
    }

    .formInput {
        width: 570px;
    }

    .inputEmail {
        margin-bottom: 60px;
    }

    .worning {
        bottom: 30px;
    }
}