.header {
    position: fixed;
    width: 272px;
    padding: 24px 22px 24px 22px;
    z-index: 10;
    margin: 0 auto;
    font-weight: 400;
}

.active {
    position: fixed;
    width: 276px;
    padding: 21px 22px 21px 22px;
    z-index: 10;
    margin: 0 auto;
    font-weight: 400;
    background: var(--header-background-color);
}

.logoLink:hover,
.logoLink:focus {
    transform: scale(1.05);
}

.logo {
    color: var(--background-color);
    
}

.logoSvg {
    fill: var(--background-color);
    margin-right: 8px;

}

.logoLink {
    text-decoration: none;
}

.logoTitle {
    color: var(--background-color);
    font-size: 28px;
}

.logoTitle:hover,
.logoTitle:focus {
    color: var(--background-color-hover);
    fill: var(--background-color-hover);
}

.logoText {
    color: var(--text-white);
}

.list {
    display: flex;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.375;
}

.item {
    position: relative;
    text-decoration: none;
}

.item:not(:last-child) {
    margin-right: 12px;
}
.itemLink:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    display: none;
    width: 100%;
    height: 2px;
    background-color: var(--background-color);
    border-radius: 2px;
}
.itemLink {
    text-decoration: none;    
    color: var(--text-white);
}

.itemLink:hover:after {
    display: block;
}



@media screen and (min-width: 768px) {
    .header {
        display: flex;
        padding:23px 32px 23px 32px;
        width: 704px;
        align-items: center;
        justify-content: space-between;        
    }
    .active {
        display: flex;
        padding: 23px 32px 23px 32px;
        width: 704px;
        align-items: center;
        justify-content: space-between;
    }
    .headerContainer {
        max-width: 1360px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    .headerLogo {
        font-size: 35px;
        line-height: 1.21;
        margin-bottom: 0;
    }

    .logoSvg {
        margin-right: 10px;
    }
    .logoTitle {
        font-size: 35px;
    }

    .navItem {
        padding: 0 10px;
    }

    .navLink {
        font-size: 18px;
        line-height: 1.56;
    }

    .list {
        font-size: 18px;
    }

    
}

@media screen and (min-width: 1360px) {
    .header {
        padding: 32px 28px 32px 28px;
        width: 1304px;
        /* padding: 12px 0; */
    }
    .active {
        padding: 32px 28px 32px 28px;
        width: 1304px;
    }

    .logoTitle {
        font-size: 44px;
    }

    .navItem {
        padding: 0 20px;
    }
}