.footer {
    color: var(--text-white);
    background-color: var(--footer-background-color);
    padding: 20px auto;
}

.socialList {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.socialIcon {
    width: 35px;
    height: 35px;
    fill: var(--text-white);
}

.socialIcon:hover,
.socialIcon:focus {
    fill: var(--background-color);
}

.socialItem:not(:last-child) {
    margin-right: 25px;
}

.footerText {
    text-align: center;
    padding-bottom: 20px;
}